
@model Demo.web.Models.Test.TestHome

@{
    ViewData["Title"] = "Test Home";
}
@section Styles{
    <style>
        .test{
            color: blue;
        }
    </style>
}
<partial name="_DivPartial" model="Model.partialModel" />
<form asp-controller="Test" asp-action="Index" asp-antiforgery="true" method="post">
   
    <div>
        <label asp-for="Name">Name: </label>
        <input type="text" asp-for="Name" class="myClass" />
    </div>
    <div>
        <label asp-for="Email">Email: </label>
        <input type="text" asp-for="Email" />
    </div>
    <input type="submit" value="Submit" />
</form>
@section scripts{
    <script>
        alert("this alert is for a particular section");
    </script>
}
@* @Html.TextBoxFor(x => x.Name, new { @class = "myClass" }) @*html tag helper*@ 